@font-face {
    font-family: "Outfit";
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'YoungSerif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* list-style-position: inside; */
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

body {
    font-family: 'Outfit', 'YoungSerif', sans-serif;
    font-size: 16px;
    font-weight: 300;
    /* height: 100vh; */
    background-color: #F3E5D8;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

article.blog {
    width: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 5rem auto;

    hr {
        border: 1px solid #E0E0E0;
        margin-top: 30px;
        margin-bottom: 10px;

    }

    header {
        img {
            width: 100%;
            border-radius: 10px;
        }
        h1 {
            font-family: 'YoungSerif', sans-serif;
            font-weight: 300;
            font-size: 3rem;
            line-height: 3rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        p {
            padding-bottom: 2rem;
        }
    }

    section {
        h2 {
            padding-top: 20px;
            padding-bottom: 20px;
            font-family: 'YoungSerif', sans-serif;
            font-size: 2rem;
            color: #7C4C38;
        }
        li {
            margin-left: 2rem;
            padding-left: 0.5rem;
        }
        li::marker {
            font-weight: 600;
            font-size: 1.2rem;
            color: #6B3B37;
        }

    }

    section.timing {
        background-color: #FFF7FC;
        border-radius: 10px;
        padding: 20px;

        h2 {
            color: #712F4A;
            font-size: 1.5rem;
        }

        li {
            padding-left: 10px;
        }

    }

    section > table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        line-height: 3rem;

        th, td {
            border-bottom: 1px solid #E0E0E0;
            text-align: left;
            padding-left: 2rem;
            padding-right: 8rem;
        }

        th {
            font-weight: 300;
        }

        td {
            font-weight: 600;
            color: #774B42;
            font-size: 1.2rem;
        }
    }

}

@media screen and (max-width: 700px) {
    article.blog {
        width: 100%;
        margin: 0;
        padding: 1rem;
        border-radius: 0;

        h1 {
            line-height: 3rem;
            font-size: 1rem;
        }
    }
}
